html,
body {
    background-color: #3aafa9;
    color: white;
    font-weight:
}

.header {
    text-align: center;
    padding: 33px;
}

.scoreboard {
    text-align: center;
    font-size: 50px;
    padding: 30px;

}

.text {
    background-color: #2B7A78;
    padding: 30px;
}

h3 {
    text-align: center;
}

.random {
    font-size: 50px;
    padding: 10px;
    text-align: center;

}

.randomWinLoss {
    padding: 30px;
}

.diamonds {
    text-align: center;
    padding: 33px;
    background-color: #def2f1;
    border-radius: 5px;
}

.diamond {
    color: green;
}

.diamond:hover {
    color: black;
}


.diamond2 {
    color: yellow;

}

.diamond2:hover{
    color: black;
}


.diamond3 {
    color: red;
    
}

.diamond3:hover {
    color: black;

}


.diamond4 {
    color: blue;

}

.diamond4:hover {
    color: black;

}


.wins {
    text-align: center;
    font-size: 50px;
}

.losses {
    text-align: center;
    font-size: 50px;

}

.col-md-3 {
    padding: 50px;
}